body, ul { padding: 0; margin: 0;}
ul { list-style: none; }
a { text-decoration: none; color: black;}

.nav>.gnb {
    display: flex;
    justify-content: space-evenly;
    background-color: cadetblue;
}
.nav>.gnb>li:hover>.gnb-sub {
    visibility: visible;
    opacity: 1;
    transition: all 1s;
}

.nav>.gnb .gnb-sub {
    visibility: hidden;
    opacity: 0;
    position :absolute;
    margin-left:-20px;
    background-color: rgb(176, 235, 237);
    padding: 10px 5px;
}

/*하위 메뉴에 마우스 올렸을때 전환효과*/
.nav>.gnb>li>.gnb-sub>li { 
    box-sizing: border-box;
    height: 25px;
}
.nav>.gnb>li>.gnb-sub>li:hover {
    border-bottom: 2px solid blue;
    transition: all 0.3s;
}