.title {
    background-color: orange;
    padding: 20px 0;
    text-align: center;
}

.list {
    border: black 3px dashed;
    border-radius: 20px;
    padding: 10px 20px;
}

.list p { 
    background-color: beige;
    padding: 5px 10px;
}
.link-home {
    text-decoration: none;
    color: black;
    background-color: orange;
    padding: 10px 15px;
    border-radius: 15px;
}

.link-home:hover {
    background-color: orangered;
}

.link-blog {
    text-decoration: none;
    color: black;
    padding: 7px 0;
}

.link-blog:hover {
    color: green;
    font-weight: bold;
    border-bottom: solid green 3px;
}